.navbar{
    color:rgb(240, 99, 48);
    background-color: bisque;
    width: 100vw;
    font-size: x-large;
    display :block
}

.navbar ul {
display: flex;
}

.navbar ul li{
    margin: 1vw;
    display: block;
}
.navbar ul :hover{
    background-color: rgb(127, 196, 15);
}
